{% extends "epe_app/base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <h5 class="shadow-sm rounded text-center bg-info text-white p-2">Parameter Definition List</h5>
</div>


<div class="container_fluid shadow-box-table m-2 p-3">
    <div class="d-flex gap-2 justify-content-start m-2">
        <a href="{% url 'home_page' %}" class="btn btn-primary btn-sm">
            <i class="fas fa-arrow-left"></i> Back
        </a>
        <a href="{% url 'param_def_insert' %}" class="btn btn-success btn-sm">
            <i class="fas fa-plus"></i> Add
        </a>
    </div>
    <hr>
    <table id="param_def_list" class="table table-striped table-bordered border-secondary-subtle table-responsive table-sm nowrap mt-2">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Parameter Definition</th>
            <th>Name</th>
            <th>Unit Type</th>
            <th>Status</th>
            <th>Updated On</th>
            <th>Updated By</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for param_def in page_obj %}
        <tr>
            <td>{{ param_def.id }}</td>
            <td>{{ param_def.pd_id }}</td>
            <td>{{ param_def.pd_name }}</td>
            <td>{{ param_def.pd_unit_type }}</td>
            <td>{{ param_def.pd_status }}</td>
            <td>{{ param_def.pd_updated_at }}</td>
            <td>{{ param_def.pd_updated_by }}</td>
            <td class="text-center">
                <a class="btn btn-sm btn-primary" href="{% url 'param_def_update' param_def.id %}">
                    <i class="far fa-edit"></i>
                </a>
            </td>
            <td class="text-center">
                <form action="{% url 'param_def_delete' param_def.id %}" method="post" onsubmit="return confirm('Are you sure?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Pagination controls -->

    <div class="pagination d-flex gap-2">
        {% if page_obj.has_previous %}
        <a class="btn btn-warning btn-sm" href="?page=1">First</a>
        <a class="btn btn-warning btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a class="btn btn-warning btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-warning btn-sm" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>

</div>
{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new DataTable('#param_def_list', {
            responsive: true,
            order: [[0, 'desc']],
            dom: '<"row align-items-center mb-3"' +
                '<"col-md-4"l>' +        // Length dropdown (entries per page)
                '<"col-md-4 text-center"B>' + // Export buttons
                '<"col-md-4 text-end"f>' +    // Search box
                '>rt' +
                '<"row mt-3"' +
                '<"col-md-6"i>' +        // Table info
                '<"col-md-6 text-end"p>' +  // Pagination
                '>',
            buttons: ['copy', 'excel', 'pdf']
        });
    });
</script>

{% endblock scripts %}
