{% extends "epe_app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<form method="POST" action="">
  {% csrf_token %}
  <div class="container my-3">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="card shadow-sm">
          <div class="card-header bg-dark text-white text-center">
            <h5 class="mb-0">Add/Update Parameter Definition</h5>
          </div>

          <div class="card-body bg-light">
            <div class="row g-3">
              <!-- Left Column -->
              <div class="col-md-6">
                <div class="input-group input-group-sm mb-2">
                  <span class="input-group-text">ID</span>
                  {% render_field pd_form.pd_id class="form-control bg-secondary text-white" disabled="disabled" %}
                </div>
                <div class="input-group input-group-sm mb-2">
                  <span class="input-group-text">Name</span>
                  {% render_field pd_form.pd_name class="form-control" %}
                </div>
                <div class="input-group input-group-sm mb-2">
                  <span class="input-group-text">Description</span>
                  {% render_field pd_form.pd_description class="form-control" rows="3" %}
                </div>
                <div class="input-group input-group-sm mb-2">
                  <span class="input-group-text">Dictionary</span>
                  {% render_field pd_form.pd_library class="form-select select2" %}
                </div>
              </div>

              <!-- Right Column -->
              <div class="col-md-6">
                <div class="input-group input-group-sm mb-2">
                  <span class="input-group-text">Unit Type</span>
                  {% render_field pd_form.pd_unit_type class="form-select select2" %}
                </div>
                <div class="input-group input-group-sm mb-2">
                  <span class="input-group-text">Data Type</span>
                  {% render_field pd_form.pd_datatype id="pd_datatype" onchange="datatype_change()" class="form-select select2" %}
                </div>
                <div class="input-group input-group-sm mb-2">
                  <span class="input-group-text">Digital Source</span>
                  {% render_field pd_form.pd_digital_source class="form-select select2" multiple="multiple" %}
                </div>
                <div class="input-group input-group-sm mb-2">
                  <span class="input-group-text">Owner</span>
                  {% render_field pd_form.pd_owner class="form-select select2" %}
                </div>
              </div>

              <div class="d-flex col justify-content-center ">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} py-1 mb-2">
                  {{ message }}
                </div>
                {% endfor %}
              </div>
              <!-- Buttons -->
              <div class="col-12 d-flex justify-content-between mt-2">
                <button type="submit" class="btn btn-sm btn-success">
                  <i class="fas fa-check"></i> Submit
                </button>
                <a href="{% url 'param_def_list' %}" class="btn btn-sm btn-danger">
                  <i class="fas fa-times"></i> Cancel
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock content %}

{% block scripts %}

<script>
  function datatype_change() {
    var data_type_val=document.getElementById("pd_datatype").value;
    if(data_type_val==5)
    {
        document.getElementById("add_lov").disabled = false;
    }
    else
    {
        document.getElementById("add_lov").disabled = true;
    }
  }
</script>

{% endblock scripts %}
