{% extends "epe_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="container my-4">
  <form method="POST" action="">
    {% csrf_token %}

    <div class="card shadow-sm">
      <div class="card-header bg-dark text-white text-center">
        <h5 class="mb-0">Add/Update Project</h5>
      </div>

      <div class="card-body bg-light">
        <div class="row g-3">
          <div class="col-md-6">
            <div class="input-group input-group-sm">
              <span class="input-group-text">Project ID</span>
              {% render_field p_form.p_project_id class="form-control bg-secondary text-white" id="p_project_id" disabled="disabled" %}
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group input-group-sm">
              <span class="input-group-text">Project Name</span>
              {% render_field p_form.p_project_name class="form-control" id="p_project_name" %}
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group input-group-sm">
              <span class="input-group-text">Customer Name</span>
              {% render_field p_form.p_customer_name class="form-control" id="p_customer_name" %}
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group input-group-sm">
              <span class="input-group-text">Location</span>
              {% render_field p_form.p_location class="form-control" id="p_location" %}
            </div>
          </div>

          <div class="d-flex col justify-content-center ">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} py-1 mb-2">
              {{ message }}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="d-flex justify-content-between mt-4">
          <button type="submit" class="btn btn-sm btn-success">
            <i class="fas fa-check"></i> Submit
          </button>
          <a href="{% url 'project_list' %}" class="btn btn-sm btn-danger">
            <i class="fas fa-times"></i> Cancel
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
